*.pyc
app.db
./tmp
./build/*
./.idea
./.idea/*
env
venv
*.sublime*
*.pyc
.settings
.pyproject
.project
*.log
flask_session
addon/*/build
addon/*/dist
addon/*/*.egg-info
atstest/__pycache__/*
atstest/.pytest_cache/*
.pytest_cache/*
app/__pycache__
app/public/node_modules/*
app/public/tests/*
app/public/dist/*

app/public/package-lock.json
.vscode
config_local.py
fab_admin.egg-info